.logoWithOutScrolling {
  color: #ffffff;
  font-family: 'overpass';
  margin: 1rem 2rem 1rem 3rem;
  text-align: center;
  width: 100px;
  background-color: black;
  padding: 1rem;
  border-radius: 20px;
  border: 1px;
}

.logoWhenScrolling {
  color: #ffffff;
  font-family: 'overpass';
  margin: 0.5rem 2rem 0.5rem 3rem;
  text-align: center;
  width: 100px;
}

@media only screen and (min-width: 600px) {
  .logoWithOutScrolling {
    font-size: 2rem;
  }
  .logoWhenScrolling {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .logoWithOutScrolling {
    width: 280px;
  }
  .logoWhenScrolling {
    width: 100px;
  }
}
