.logoWithOutScrolling {
  color: #ffffff;
  font-family: 'overpass';
  margin: 1rem 2rem 1rem 3rem;
  text-align: center;
}

.logoWhenScrolling {
  color: #ffffff;
  font-family: 'overpass';
  margin: 0.5rem 2rem 0.5rem 3rem;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .logoWithOutScrolling {
    font-size: 2rem;
  }
  .logoWhenScrolling {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .logoWithOutScrolling {
    font-size: 3rem;
  }
  .logoWhenScrolling {
    font-size: 2rem;
  }
}
