p.info {
  font-family: 'Overpass';
  color: #ffffff;
  margin-bottom: 1rem;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 1.05rem;
}

p.transparent {
  opacity: 0.5;
}
