@import '../../styles/variables';

.section {
  width: 100%;
}

section.dark {
  background-color: #000000;
}

section.almostDark {
  background-color: #333333;
}

section.light {
  background-color: $lightSectionBackGroundColor;
}

section.veryLight {
  background-color: #ffffff;
}

.content {
  max-width: 1920px;
  margin: auto;
  width: 100%;
  padding: 2rem 1rem 2rem 1rem;
}

@media only screen and (min-width: 850px) {
  .section {
    width: 100%;
  }
  .sectionFlexBoxRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .content {
    padding: 2rem 7rem 2rem 7rem;
  }
}
