.section {
  width: 100%;
  padding: 10rem 1rem 5rem 1rem;
}

section.dark {
  background-color: #000000;
}

section.almostDark {
  background-color: #333333;
}

section.light {
  background-color: #f07a3a;
}

section.veryLight {
  background-color: #ffffff;
}
