.buttonsMini {
  min-width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-family: 'Overpass';
  align-self: center;
  margin-top: 2rem;
}

.leftSide {
  width: 100%;
}

.productsListMax {
  display: none;
}

.buttonsMax {
  display: none;
}

.productsListMini {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .leftSide {
    width: 50%;
  }
  .rightSide {
    width: 50%;
    align-self: flex-end;
    justify-self: flex-end;
    text-align: right;
  }
  div.changeFlexBox {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .productsListMini {
    display: none;
  }
  .buttonsMini {
    display: none;
  }
  .productsListMax {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
  }
  .productsListMax > :only-child {
    margin-left: auto;
    margin-right: auto;
  }
  .buttonsMax {
    min-width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: 'Overpass';
    align-self: center;
    margin-top: 2rem;
  }
}
