.buttonsMini {
  min-width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-family: 'Overpass';
  align-self: center;
  margin-top: 2rem;
  max-width: 180px;
  margin: 1.5rem auto 1rem auto;
}

.leftSide {
  width: 100%;
}

.productsListMax {
  display: none;
}

.buttonsMax {
  display: none;
}

.productsListMini {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .leftSide {
    width: 50%;
  }
  .rightSide {
    width: 50%;
    align-self: flex-end;
    justify-self: flex-end;
    text-align: right;
  }
  div.changeFlexBox {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .productsListMini {
    display: none;
  }
  .buttonsMini {
    display: none;
  }
  .productsListMax {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .productsListMax > :only-child {
    margin: 0 auto 1rem auto;
  }

  .productsListMax {
    article:first-child:nth-last-child(2),
    article:first-child:nth-last-child(2) ~ article {
      margin: 0 auto 1rem auto;
    }
  }
  .buttonsMax {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: 'Overpass';
    align-self: center;
    max-width: 180px;
    margin: auto;
  }
}
