.background {
  background-color: #000000;
  padding: 2rem 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 2rem auto 1rem;
  align-self: center;

  h3.number {
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 2rem;
    font-family: 'Overpass';
  }
  h2.title {
    display: inline-block;
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: capitalize;
    width: 50%;
    text-align: right;
    word-break: keep-all;
    height: 3.5rem;
    font-family: 'Overpass';
  }

  .photo {
    min-width: 85%;
    border-radius: 5px;
    overflow: hidden;
    align-self: flex-start;
  }
}

@media only screen and (min-width: 992px) {
  .background {
    margin: 0px;
    min-width: 400px;
    min-height: 458px;
  }
  .photo {
    border-radius: 5px;
    overflow: hidden;
    align-self: flex-start;
    width: 150px;
  }
}
