.productItem {
  background-color: #333333;
  width: 100%;
  max-width: 330px;
  margin: auto;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;

  h2.title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  button {
    bottom: 0px;
    left: 0px;
  }
}

@media only screen and (min-width: 992px) {
  .productItem {
    width: 30%;
    margin: 0;
    text-align: right;
    margin-bottom: 1rem;

    h2.title {
      min-width: 150px;
      min-height: 2.5rem;
      font-size: 1rem;
    }
    h3.number {
      font-size: 1rem;
    }
  }
}
