.button {
  color: brown;
  border: 1px solid black;
  border-radius: 50px;
  display: inline-block;
  padding: 5px;
  .line {
    height: 1px;
    margin: 2px;
    min-width: 10px;
    border: 1px solid black;
    background-color: black;
  }
  .lineClosed {
    transform: rotateX("50deg");
    height: 1px;
    margin: 2px;
    min-width: 10px;
    border: 1px solid black;
    background-color: black;
  }
}
