.blogItem {
  width: 100%;
  .date {
    color: #333333;
    opacity: 0.5;
    font-family: 'Overpass';
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .photo {
    border-radius: 5px;
    margin-bottom: 3rem;
    height: 0;
    padding-bottom: 80%;
  }
  .title {
    font-family: 'Overpass';
    font-size: 1.5rem;
    min-height: 11vh;
  }
}

@media only screen and (min-width: 992px) {
  .blogItem {
    width: 30%;
  }
}
