.aboutUs {
  width: 100%;
  background-color: #f07a3a;
  padding: 1% 4% 10% 4%;
  h1 {
    font-family: 'Overpass';
    font-size: 1rem;
    color: #ffffff;
  }
  h3 {
    font-family: 'Overpass';
    color: #ffffff;
  }
  p {
    font-family: 'Overpass';
    color: #ffffff;
  }
}
