.leftSide {
  width: 100%;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .leftSide {
    max-width: 45%;
  }
}

@media only screen and (min-width: 992px) {
  .leftSide {
    max-width: 45%;
  }
}
