.fastContactDevice {
  display: none;
}

@media only screen and (min-width: 992px) {
  .fastContact {
    background-color: black;
    .fastContactDevice {
      display: block;
      background-color: black;
      padding: 0rem 7rem 0rem 7rem;
      border: 1px solid black;
      position: relative;
      height: 170px;
      width: 100%;
      max-width: 1920px;
      margin: 2rem auto 3rem auto;
    }
  }
}
