.toolBarNoScrolling {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  z-index: 500;
  width: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toolBarOpen {
  background-color: black;
}

.bGColorWhenScrolling {
  background-color: black;
  -webkit-box-shadow: 10px 10px 28px -1px rgba(54, 54, 54, 1);
  -moz-box-shadow: 10px 10px 28px -1px rgba(54, 54, 54, 1);
  box-shadow: 10px 10px 28px -1px rgba(54, 54, 54, 1);
}

.navigation {
  display: none;
}

@media only screen and (min-width: 600px) {
  .navigation {
    display: inline-block;
  }

  .top {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
}
