.toolBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toolBarOpen {
  background-color: black;
  color: aqua;
}
