.portfolioItem {
  background-color: #000000;
  color: #ffffff;
}

.test {
  -webkit-mask-image: linear-gradient(to top, transparent 15%, black 75%);
  mask-image: linear-gradient(to top, transparent 15%, black 75%);
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h3.title {
  margin-top: 280px;
  z-index: 3;
}
