.portfolioItem {
  background-color: #000000;
  color: #ffffff;
  position: relative;
  margin-top: 2rem;
}
.image {
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 95%);
  mask-image: linear-gradient(to top, transparent 5%, black 95%);
  border-radius: 5px;
  overflow: hidden;
  height: 500px;
}
.textArea {
  z-index: 3;
  position: absolute;
  bottom: 10%;
  color: #ffffff;
  padding: 1rem;
  h2.category {
    color: #f07566;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: 'Overpass';
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
  }
  h3.title {
    color: #ffffff;
    font-family: 'Overpass';
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
