@import '../../../styles/variables';

.waveLight {
  background-color: white;
  path {
    fill: $lightSectionBackGroundColor;
  }
}

.waveLight {
  background-color: white;
  path {
    fill: $lightSectionBackGroundColor;
  }
}

.waveDark {
  background-color: $lightSectionBackGroundColor;
  path {
    fill: $menuAndFootterBackGroundColor;
  }
}

.rotate {
  transform: rotate(180deg);
}
