button.darkColor {
  border: 1px solid #f07a3a;
  box-shadow: none;
  border-radius: 50px;
  background-color: transparent;
  padding: 1rem;
}
button.lightColor {
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: none;
  border-radius: 50px;
  background-color: transparent;
  padding: 1rem;
}
div.right {
  min-width: 10px;
  min-height: 10px;
  transform: translateX(-1px) rotate(45deg);
  span {
    display: none;
  }
}

div.left {
  min-width: 10px;
  min-height: 10px;
  transform: translateX(1px) rotate(-135deg);
  span {
    display: none;
  }
}

div.lightColor {
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
}

div.darkColor {
  border-top: 3px solid #f07a3a;
  border-right: 3px solid #f07a3a;
}
