.videoSection {
  background-color: #f07a3a;
  position: relative;
  z-index: 1;
  min-height: 85vh;
  width: 100%;
  .content {
    position: absolute;
    z-index: 3;
    padding: 10% 4% 0% 4%;
    width: 100%;
    .videoBox {
      background-color: #333333;
      width: 100%;
      z-index: 4;
      position: relative;
      border-radius: 5px;
      h2.title {
        color: #f07566;
        z-index: 5;
        text-transform: uppercase;
        font-family: 'Overpass';
        margin-bottom: 1rem;
        position: absolute;
        top: 0px;
      }
      p.info {
        font-family: 'Overpass';
        color: #ffffff;
      }
      .video {
        position: relative;
        max-width: 80vh;
        z-index: 1;
      }
    }
  }

  .secondBackground {
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: black;
    height: 150px;
    z-index: 2;
  }
}
