.achivements {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  z-index: 1;

  .content {
    max-width: 1920px;
    margin: auto;
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;

    h4 {
      font-family: 'Overpass';
      font-size: 1.5rem;
      text-align: start;
      margin: 1rem 1.1rem;
    }

    .elements {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
@media only screen and (min-width: 600px) {
  .achivements {
    .content {
      padding: 2rem 7rem 2rem 7rem;
    }
  }
}
