.button {
  background-color: #f07a3a;
  color: #ffffff;
  border-radius: 50px;
  box-shadow: none;
  border: 1px solid #f07a3a;
  padding: 1.2rem;
  width: 65px;
  height: 65px;
  display: flex;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.84);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.84);

  cursor: pointer;
  div.right {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #ffffff;
    transform: translateX(8px);
  }
}

@media only screen and (min-width: 992px) {
  .button {
    width: 105px;
    height: 105px;
    border-radius: 80px;

    div.right {
      width: 0px;
      height: 0px;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 35px solid #ffffff;
      transform: translateX(19px) translateY(6px);
    }
  }
}
