.listNoScrolling {
  list-style: none;
  li {
    text-align: center;
    margin: 0.5rem 0.5rem;
    a {
      color: white;
      font-size: 1rem;
      text-decoration: none;
      font-family: 'Overpass';
      text-shadow: 2px 2px 5px black;
    }
    a:hover,
    a:active {
      padding-bottom: 0.3rem;
      border-bottom: 1px solid white;
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  li {
    text-align: center;
    margin: 0.5rem 0.5rem;
    a {
      color: white;
      font-size: 1rem;
      text-decoration: none;
      font-family: 'Overpass';
    }
    a:hover,
    a:active {
      padding-bottom: 0.3rem;
      border-bottom: 1px solid white;
    }
  }
}

.listWhenScrolling {
  list-style: none;
  li {
    text-align: center;
    margin: 0.7rem 0.5rem;
    a {
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      font-family: 'Overpass';
      text-shadow: 2px 2px 5px black;
    }
    a:hover,
    a:active {
      padding-bottom: 0.3rem;
      border-bottom: 1px solid white;
    }
  }
}

@media only screen and (min-width: 600px) {
  .listNoScrolling {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-align: end;
    flex-wrap: wrap;
    li {
      display: inline-block;

      a {
        font-size: 1rem;
        font-weight: 900;
      }
      a:hover {
        border-bottom: 2px solid white;
        padding-bottom: 0.3rem;
      }
      a:active {
        padding-bottom: 0.3rem;
        border-bottom: 3px solid white;
        font-size: 1rem;
      }
    }
  }
  .listWhenScrolling {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-align: end;
    flex-wrap: wrap;
    li {
      display: inline-block;

      a {
        font-size: 1rem;
        font-weight: 900;
      }
      a:hover {
        border-bottom: 2px solid white;
        padding-bottom: 0.3rem;
      }
      a:active {
        padding-bottom: 0.3rem;
        border-bottom: 3px solid white;
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .listNoScrolling {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-align: end;
    flex-wrap: wrap;
    li {
      display: inline-block;
      white-space: nowrap;
      a {
        font-size: 1.5rem;
        font-weight: 900;
      }
      a:hover {
        border-bottom: 2px solid white;
        padding-bottom: 0.3rem;
      }
      a:active {
        padding-bottom: 0.3rem;
        border-bottom: 3px solid white;
        font-size: 1.4rem;
      }
    }
  }
  .listWhenScrolling {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-align: end;
    flex-wrap: wrap;
    li {
      display: inline-block;
      white-space: nowrap;
      a {
        font-size: 1.5rem;
        font-weight: 900;
      }
      a:hover {
        border-bottom: 2px solid white;
        padding-bottom: 0.3rem;
      }
      a:active {
        padding-bottom: 0.3rem;
        border-bottom: 3px solid white;
        font-size: 1.4rem;
      }
    }
  }
}
