.list {
  list-style: none;
  li {
    text-align: center;
    margin: 0.5rem 0.5rem;
    a {
      color: white;
      font-size: 1rem;
      text-decoration: none;
      font-family: 'Overpass';
    }
    a:hover,
    a:active {
      padding-bottom: 0.3rem;
      border-bottom: 1px solid white;
    }
  }
}

@media only screen and (min-width: 600px) {
  .list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-align: end;
    flex-wrap: wrap;
    li {
      display: inline-block;
      white-space: nowrap;
      a {
        font-size: 1.2rem;
        font-weight: 900;
      }
      a:hover {
        border-bottom: 2px solid white;
        padding-bottom: 0.3rem;
      }
      a:active {
        padding-bottom: 0.3rem;
        border-bottom: 3px solid white;
        font-size: 1.2rem;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-align: end;
    flex-wrap: wrap;
    li {
      display: inline-block;
      white-space: nowrap;
      a {
        font-size: 1.5rem;
        font-weight: 900;
      }
      a:hover {
        border-bottom: 2px solid white;
        padding-bottom: 0.3rem;
      }
      a:active {
        padding-bottom: 0.3rem;
        border-bottom: 3px solid white;
        font-size: 1.4rem;
      }
    }
  }
}
