.blogItem {
  width: 100%;
  max-width: 450px;
  margin: 1rem auto;

  :hover {
    opacity: 0.7;
    text-decoration: underline;
    cursor: pointer;
  }

  .date {
    color: #5e5e5e;

    font-family: 'Overpass';
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .photo {
    border-radius: 5px;
    margin-bottom: 1.5rem;
    height: 0;
    padding-bottom: 80%;
  }
  .title {
    font-family: 'Overpass';
    font-size: 1.5rem;
    min-height: 11vh;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

@media only screen and (min-width: 992px) {
  .buttonArea {
    display: none;
    width: 100%;
    margin: auto;
  }
  .blogItem {
    width: 30%;
    margin: 0;
  }
}
