.background {
  color: bisque;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 105vw;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  .topLeft {
    width: '100%';
    overflow: hidden;
    border-bottom-right-radius: 10%;
  }
}

.secondColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 40%;
  .topRight {
    width: 85%;
    overflow: hidden;
    border-bottom-left-radius: 10%;
  }
  .bottomRight {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 10%;
  }
}
