.background {
  color: bisque;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .first {
    width: '40%';
  }

  .second {
    width: '40%';
  }
}

.secondRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  .third {
    width: '40%';
  }
}
